{
  "extends": "airbnb-base/legacy",
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "semi": 0,
    "comma-dangle": ["error", "always-multiline"],
    "no-console": 0
  }
}
